<header id="masthead">
  <div class="inner-wrap">
<!--    <link rel="shortcut icon" type="image/png" href="{{ site.url }}/images/favicon.png"> -->
<link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACcUlEQVQ4jaWRy0uUARTFf9985mN8MuNYUko+AzHRCiU3ghVa1CbCwkIx0PoLhLK0RfaCpEULsUWLMCE16WUppZYIRptGU/HR+MjUYXyMozOOr++2iDJRF9VZ3nM593B/iogI/yGPrYyZkRF8AgNZWVxkZniYHfHxiKZh7e4GBYyRUegNBpTNGoimUXkmi4Ss01iam1E9PUkrLMQxPs7bkhK8gwJxTk6S9+LV+gYri25sAwO47XZmR0aw9fVi/z5KTm0dOlVFbwxmdWWZ2MyjdFZXoyjKWsCY+TONxVfx9vdnyeViV0oK/Y2NJGWfRaeqAFjet6BTVcxVj9mXk4uiqiAioq2uysPjx8TS2irOqUmpOHJIehsa5P7BFHFMjMsv1Rbky9f3LWKufiKNJcUiIuIBsLSwwLzNhjEqkvbycmIzMglLTia96AruWQedNTUsOZ1MdJgZCg9jqK2NjNIbAGtPbLlzm67nz9iZmEjmzVt4+wcA8OjUSWIyMhhsbiY4dg/hqamE7k0gIDR0fQCAiKAoyjoib4ou8+1jO4boaE6U3cNTr1/nb45R4HeOCIsuF156/R/DLQLmbTY+lN1Fp6pkXi/dsLzhkKb9xDhntWLr68NcVQk6HX4hIYx1mNGWV3DPOTBFxzA1NIgxIoIpiwWA2dFRZoaHUQaamqSn/iV6g4GF6Rlsfb3szzvPpwcV+JpMBIWFM95hZntcHNt8/Vh2OUHA7ZglpeAiapqP17X0S0V8qXvK4eJinFPT6IODMeyO4EBuHtaeLpKyz2EfG8PPZELTVlG9vPExGDFGRkLP63qpuZAv/U3v5F+0KYW/0Q+OnV5b813IBgAAAABJRU5ErkJggg==" rel="shortcut icon" type="image/x-icon" />
    <img src="{{ site.url }}/images/phone-sign-100x100.jpg" alt="teaser" style="width:20px;height:20px;">
	<a href="tel:+33763501488">07 63 50 14 88</a>
	</a>
   	<img src="{{ site.url }}/images/map-location-marker-100x100.jpg" alt="teaser" style="width:20px;height:20px;">
	<a href="https://www.google.com/maps?ll=43.656495,6.929862&z=15&t=m&hl=en-US&gl=FR&mapclient=embed&q=78+Avenue+Pierre+Semard+06130+Grasse">Plan</a>
    </a>
  </div><!-- /.inner-wrap -->

  <div class="inner-wrap">
    <nav role="navigation" class="menu top-menu">
        {% include navigation.html %}
    </nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->
