<header id="masthead">
  <div class="inner-wrap">
    <link rel="shortcut icon" type="image/png" href="{{ site.url }}/images/favicon.png">
    <img src="{{ site.url }}/images/phone-sign-100x100.jpg" alt="teaser" style="width:20px;height:20px;">
	<a href="tel:+33763501488">07 63 50 14 88</a>
	</a>
   	<img src="{{ site.url }}/images/map-location-marker-100x100.jpg" alt="teaser" style="width:20px;height:20px;">
	<a href="https://www.google.com/maps?ll=43.656495,6.929862&z=15&t=m&hl=en-US&gl=FR&mapclient=embed&q=78+Avenue+Pierre+Semard+06130+Grasse">Plan</a>
    </a>
  </div><!-- /.inner-wrap -->

  <div class="inner-wrap">
    <nav role="navigation" class="menu top-menu">
        {% include navigation.html %}
    </nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->