/* ==========================================================================
   Grid settings for Neat
   ========================================================================== */

@import "vendor/neat/neat-helpers";

// Change the grid settings
$visual_grid: false;

// Define your breakpoints
$short: new-breakpoint(max-height em(700) 12);
$micro: new-breakpoint(min-width em(240) max-width em(480) 12);
$small: new-breakpoint(min-width em(600) 12);
// NBM From 1000 pixels on, the top-menu disappears (need around 1000 pixels to display all titles) 
$medium: new-breakpoint(min-width em(1000) 12);
// Somehow when reaching the large limit the top-menu line breaks... , so putting a very large value that is never reached
$large: new-breakpoint(min-width em(3000) 12);
